.profile_page h1 {
    color: #e67e22;
    font-weight: bold;
    font-size: 50px;
}

.profile_content {
    display: inline-block;
    text-align: center;
}

.profile_page h5 {
    text-decoration: underline;
    font-weight: bold;
    color: #e67e22;
}

.profile_page span {
    color: #ecf0f1;
    font-size: 25px;
}